.cta{
    padding: 15px 25px;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #073155;
    border-color: #2e6da4;
}